<div>
    <md-content class="md-whiteframe-16dp" style="background: white;min-height: 700px;">
        <div class="row">
            <div layout="column">
                <form id="form1">
                    <div class="table">

                        <div class="tableheaderRow header blue">

                            <div class="cell"></div>
                            <div class="cell">SNo.</div>
                            <div class="cell">UserName</div>
                            <div class="cell">First Name</div>
                            <div class="cell">Last Name</div>
                            <div class="cell">Password</div>
                            <div class="cell">Email</div>
                            <div class="cell">Date</div>
                            <div class="cell">Code</div>

                        </div>
                        <div class="tableheaderRow search_header grey">
                            <div class="cell"></div>
                            <div class="cell"></div>
                            <div class="cell">
                                <md-input-container class="md-block">
                                    <label>UserName</label>
                                    <input ng-model="query.UserName" ng-model-options="{ debounce: 1000 }">
                                </md-input-container>
                            </div>
                            <div class="cell">
                                <md-input-container class="md-block">
                                    <label>FirstName</label>
                                    <input ng-model="query.firstName" ng-model-options="{ debounce: 1000 }">
                                </md-input-container>
                            </div>
                            <div class="cell">
                                <md-input-container class="md-block">
                                    <label>LastName</label>
                                    <input ng-model="query.lastName" ng-model-options="{ debounce: 1000 }">
                                </md-input-container>
                            </div>
                            <div class="cell">
                                <md-input-container class="md-block">
                                    <label>Password</label>
                                    <input ng-model="query.password" ng-model-options="{ debounce: 1000 }">
                                </md-input-container>
                            </div>
                            <div class="cell">
                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input ng-model="query.email" ng-model-options="{ debounce: 1000 }">
                                </md-input-container>
                            </div>
                            <div class="cell">
                                <md-input-container class="md-block">
                                    <label>Date</label>
                                    <input ng-model="query.date" ng-model-options="{ debounce: 1000 }">
                                </md-input-container>
                            </div>
                            <div class="cell">
                                <md-input-container class="md-block">
                                    <label>Code</label>
                                    <input ng-model="query.code" ng-model-options="{ debounce: 1000 }">
                                </md-input-container>
                            </div>

                        </div>

                        <div class="table-row" ng-repeat="(key,user) in users">
                            
                            <div class="cell"> <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                                    {{ data.cb1}}
                                  </md-checkbox></div>
                            <div class="cell">{{$index+1}}</div>
                            <div class="cell">{{user.userName}}</div>
                            <div class="cell">{{user.firstName}}</div>
                            <div class="cell">{{user.lastName}}</div>
                            <div class="cell">{{user.password}}</div>
                            <div class="cell">{{user.email}}</div>
                            <div class="cell">{{user.createdTime|date:full}}</div>
                            <div class="cell">{{user.roleCode}}</div>

                        </div>


                    </div>
                </form>
            </div>
        </div>

        <md-content flex layout-full>

            <md-button class="md-fab md-mini md-primary">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </md-button>
            <md-button class="md-fab md-mini md-primary">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </md-button>
            <md-button class="md-fab md-mini md-primary">
                <i class="fa fa-list" aria-hidden="true"></i>
            </md-button>
        </md-content>

    </md-content>





</div>