<md-content  layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="60" flex-gt-md="33">
      <md-toolbar flex-gt-sm="100">
        <div class="md-toolbar-tools">
          <h2><span>Login Form</span></h2>
        </div>
      </md-toolbar>
      <md-card-content>
        <form name="LoginForm">
          <md-input-container class="md-block">
            <label>Login</label>
            <input type="text" name="username" ng-model="username" placeholder="login" required=""/>
            <div ng-messages="LoginForm.email.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your email.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="password" placeholder="password" required="" md-maxlength="16"/>
            <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your password.</div>
              <div ng-message="md-maxlength" class="my-message">Too long.</div>
            </div>
          </md-input-container>
          <md-button ng-disabled="!LoginForm.$valid" ng-click="login(username,password)" class="md-raised md-primary"> Login</md-button>
        </form>
      </md-card-content>
    </md-card>
  </md-content>

