<aside >
  <md-toolbar class="md-hue-2 md-whiteframe-5dp custom-navbar" layout-fill id="headerId">
    <div class="md-toolbar-tools">
      <div>
        <h2>
          <i class="fa fa-dashcube fa-lg" aria-hidden="true"> DASHBOARD</i>
        </h2>
      </div>


     
      <h2 flex md-truncate></h2>
      <md-button class="md-icon-button md-primary" aria-label="Settings" style="color:white">
        <i class="fa fa-search" aria-hidden="true"></i>
      </md-button>
      
      <md-button class="md-icon-button md-primary" aria-label="Settings" style="color:white">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </md-button>

     
      <md-button class="md-icon-button md-primary" aria-label="Settings" style="color:white">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </md-button>

      <md-menu md-position-mode="target-left target" md-offset="10 60">
        <md-button class="md-icon-button md-primary" aria-label="Settings" style="color:white" ng-click="openMenu($mdMenu, $event)">
          <i class="fa fa-user" aria-hidden="true"></i>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="redial($event)">
              <i class="fa fa-phone" aria-hidden="true"></i> Redial
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="checkVoicemail()">
              <i class="fa fa-envelope" aria-hidden="true"></i> Check voicemail
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="toggleNotifications()">
              <i class="fa fa-sign-out" aria-hidden="true"></i> LogOut

            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <div style="color:white;font-family: 'Orbitron', sans-serif;font-size:13px;width: 100px;">{{currentTime}}</div>

      
    </div>
  </md-toolbar>

</aside>